[submodule "vendor/rockchip-mpp"]
	path = vendor/rockchip-mpp
	url = https://github.com/anti-social/rockchip-mpp.git
[submodule "vendor/rockchip-librga"]
	path = vendor/rockchip-librga
	url = https://github.com/anti-social/rockchip-librga.git
[submodule "vendor/ffmpeg"]
	path = vendor/ffmpeg
	url = https://github.com/nyanmisaka/ffmpeg-rockchip.git
