[submodule "vendor/rockchip-mpp"]
	path = vendor/rockchip-mpp
	url = https://gitee.com/kovalidis/mpp.git
[submodule "vendor/rockchip-librga"]
	path = vendor/rockchip-librga
	url = https://github.com/anti-social/rockchip-librga.git
[submodule "vendor/ffmpeg"]
	path = vendor/ffmpeg
	url = https://github.com/nyanmisaka/ffmpeg-rockchip.git
[submodule "vendor/libdrm"]
	path = vendor/libdrm
	url = https://gitlab.freedesktop.org/mesa/libdrm.git
[submodule "vendor/ffnvcodec"]
	path = vendor/ffnvcodec
	url = https://github.com/FFmpeg/nv-codec-headers.git
[submodule "vendor/libvpl"]
	path = vendor/libvpl
	url = https://github.com/intel/libvpl.git
[submodule "vendor/amf"]
	path = vendor/amf
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AMF.git
